html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-family: "Nanum Gothic", sans-serif;
  color: #353535;
}
h1 {
  text-transform: uppercase;
}
body {
  max-width: 100%;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  border-bottom: 1px solid #444444;
  padding-bottom: 2em;
}
@media (max-width:1000px), (max-width:500px) {
  header {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
  }
}
header .tagline {
  align-self: center;
}
@media (max-width: 1300px) {
  header .tagline {
    width: 56%;
  }
}
@media (max-width:1000px) {
  header .tagline {
    width: 75%;
  }
}
header .title {
  font-size: 2.8rem;
  padding-left: 0.8em;
}
@media (max-width:500px), (max-width:1000px) {
  header .title {
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width: 1300px), (max-width:1000px) {
  header .title {
    font-size: 2.4rem;
  }
}
header p {
  padding: 1em 0em 0em 2em;
}
@media (max-width:500px) {
  header p {
    text-align: center;
    padding: 1em;
  }
}
header .tagline,
header .buttons {
  padding-top: 4em;
}
header .buttons {
  align-self: flex-end;
  padding-bottom: 2em;
}
@media (max-width:500px), (max-width:1000px) {
  header .buttons {
    justify-content: center;
    padding-right: 7em;
    flex-wrap: wrap;
  }
}
@media (max-width: 1300px) {
  header .buttons {
    display: inline-block;
  }
}
header .buttons .login,
header .buttons .signup {
  margin: 1em;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
@media (max-width:500px) {
  header .buttons .login,
  header .buttons .signup {
    width: 100%;
    align-self: center;
    margin: 1.5em 0 0 0;
    transition: none;
  }
}
header .buttons .login:hover,
header .buttons .signup:hover {
  transform: scale(1.1);
  background-color: black;
  color: #e2e2e2;
}
header .buttons .login span,
header .buttons .signup span {
  padding-left: 0.2em;
}
header .buttons .signup {
  padding: 15px 75px;
  color: #e2e2e2;
  background-color: #444444;
}
header .buttons .login {
  border: 1px solid #444444;
  background: none;
  font-size: 0.8rem;
}
@media (max-width: 1300px) {
  header .buttons .login {
    padding-top: 0 2em 0 0;
  }
}
nav {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width:500px), (max-width:1000px) {
  nav {
    justify-content: center;
    align-items: center;
  }
}
nav .nav-links {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  padding: 1rem;
  margin-right: 2rem;
  transition: all 0.5s ease;
  border-bottom: 1px solid #444444;
}
nav .nav-links:hover {
  color: #e2e2e2;
  background-color: #444444;
}
@media (max-width:500px), (max-width:1000px) {
  nav .nav-links {
    background-color: #f3f3f3a2;
  }
}
@media (max-width:1000px), (max-width:500px) {
  nav .nav-links {
    margin: 0 0.5em 0 0.5em;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 8.5em;
}
@media (max-width:1000px) {
  footer {
    flex-direction: column;
  }
}
@media (max-width:1000px) {
  footer .footer-nav {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
  }
}
footer .copyright {
  display: flex;
  justify-content: space-between;
}
footer .nav-links {
  text-decoration: none;
  text-transform: uppercase;
  color: #444444;
  padding: 1rem;
  margin-right: 2rem;
  transition: all 0.5s ease;
  border-bottom: 1px solid #444444;
}
footer .nav-links:hover {
  color: #e2e2e2;
  background-color: #444444;
}
@media (max-width:500px), (max-width:1000px) {
  footer .nav-links {
    background-color: #f3f3f3a2;
  }
}
footer p {
  text-transform: uppercase;
}
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.mainContainer {
  display: flex;
  justify-content: center;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width:500px) {
  .mainContainer {
    flex-direction: column;
    align-items: center;
  }
}
.mainContainer section {
  width: 100vw;
}
.mainContainer h2 {
  align-content: center;
  font-size: 2.6rem;
  text-decoration: underline;
}
.mainContainer .mid-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}
@media (max-width: 1300px) {
  .mainContainer .mid-section {
    width: 95%;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width:500px), (max-width:1000px) {
  .mainContainer .mid-section {
    flex-wrap: wrap;
  }
}
@media (max-width:1000px) {
  .mainContainer .mid-section {
    flex-direction: column;
  }
}
.mainContainer .mid-section .half {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 1.5em 0 1.5em 0;
  width: 100%;
}
@media (max-width:500px), (max-width:1000px) {
  .mainContainer .mid-section .half {
    flex-direction: column;
    margin: 0;
  }
}
.mainContainer .mid-section .half .teamContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  align-items: center;
  padding-top: 2rem;
}
.mainContainer .mid-section .half .teamContainer img {
  height: 20em;
  width: 20em;
  padding: 25px;
  border-radius: 100%;
}
.mainContainer .mid-section .half .teamContainer .teamInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  line-height: 3em;
}
.mainContainer .mid-section .half .teamContainer .teamInfo .name {
  font-size: 3rem;
}
.mainContainer .mid-section .half .teamContainer .teamInfo .cohort {
  font-size: 1.5rem;
}
.mainContainer .mid-section .half .teamContainer .teamInfo .worked-on {
  font-size: 2rem;
}
.one {
  border: 2px solid black;
  padding: 0.85em;
  width: 20%;
}
@media (max-width:500px), (max-width:1000px) {
  .one {
    margin: 0 auto;
    width: 100%;
    padding-left: 9.9em;
    padding-right: 9.9em;
  }
}
.two {
  width: 20%;
  background-color: #0abab5;
  padding: 1em;
  color: yellow;
}
@media (max-width:500px), (max-width:1000px) {
  .two {
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;
  }
}
.three {
  padding: 1em;
  width: 20%;
  background-color: blue;
  color: yellow;
}
@media (max-width:500px), (max-width:1000px) {
  .three {
    width: 100%;
    padding-left: 10em;
    padding-right: 10em;
    margin-bottom: -25px;
  }
}
.four {
  background-color: #a10303;
  color: white;
  padding: 1em;
  width: 20%;
}
@media (max-width:1000px), (max-width:500px) {
  .four {
    margin-top: -25px;
    padding-left: 10em;
    padding-right: 10em;
    width: 100%;
  }
}
.five {
  padding: 1em;
  width: 20%;
  background-color: green;
  color: yellow;
}
@media (max-width:1000px), (max-width:500px) {
  .five {
    padding-left: 10em;
    padding-right: 10em;
    width: 100%;
  }
}
@media (max-width: 1300px) {
  .five {
    margin-left: 5em;
    align-self: flex-end;
  }
}
.six {
  display: none;
}
@media (max-width: 1300px), (max-width:500px), (max-width:1000px) {
  .six {
    display: none;
  }
}
@media (max-width: 1300px) {
  .bottom {
    margin-top: -3.1em;
    display: flex;
    justify-content: space-between;
  }
}
